{
  "PROJECT_NAME": "{{PROJECT_NAME}}",
  "PACKAGE_MANAGER": "{{PACKAGE_MANAGER}}",
  "TYPECHECK_CMD": "{{TYPECHECK_CMD}}",
  "TYPECHECK_CMD_RAW": "{{TYPECHECK_CMD_RAW}}",
  "TEST_CMD": "{{TEST_CMD}}",
  "TEST_CMD_ALL": "{{TEST_CMD_ALL}}",
  "FORMAT_CMD": "{{FORMAT_CMD}}",
  "FORMAT_EXTENSIONS_CASE": "{{FORMAT_EXTENSIONS_CASE}}",
  "TYPES_FILE": "{{TYPES_FILE}}",
  "COMPONENTS_GLOB": "{{COMPONENTS_GLOB}}",
  "DATA_FILE": "{{DATA_FILE}}",
  "TEST_GLOB": "{{TEST_GLOB}}"
}
